/* Skeleton */
body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding: 3% 15% 7%;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}


/* .Navbar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat";
    font-size: 1.2rem;
    font-weight: 100;
}


/* First-container */
#title {
    background-color: #ff4c68;
    color: #fff;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    margin-bottom: 20px;
    position: absolute;
    right: 30%;
}

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Features */
#features {
    background-color: #fff;
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.feature-png {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-png:hover {
    color: #ff4c68;
}

.feature-items {
    padding: 5%;
}

/* Testimonials */

#testimonials { 
    padding: 7% 15%;
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 20%;
}

/* Press  */

#press {
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px ;
}

/* Pricing */

#pricing {
    text-align: center;
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA */

#cta {
    color: #fff;
    padding: 7% 15%;
    height: 20%;
    background-color: #ff4c68;
    text-align: center;
}

#cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}


/* Footer */ 

#footer{
    text-align: center;
    padding: 7% 15%;
}

.social-icons {
    color: black;
    margin: 20px 10px;
}

.social-icons:hover{
    color: #6e1a27;
}

#copyright {
    margin: 5% 20%;
}

@media (max-width:1028px){

    #title{
        text-align: center
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }

    .testimonial-text {
        font-size: 30px ;
    }

}